@model IEnumerable<GestionLaPiazzolla.Models.Alumno>

@{
    ViewData["Title"] = "Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alumnos</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nuevo Alumno</a>
</p>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" asp-action="Index">Listado completo</a>
    <form class="form-inline" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search" name="cadenaBusqueda" value="@ViewData["FiltroActual"]">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParametro"]">@Html.DisplayNameFor(model => model.Nombre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ApellidoSortParametro"]">@Html.DisplayNameFor(model => model.Apellido)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DniSortParametro"]">@Html.DisplayNameFor(model => model.Dni)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FechaSortParametro"]">@Html.DisplayNameFor(model => model.FechaDeNacimiento)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParametro"]">@Html.DisplayNameFor(model => model.Email)</a>                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.AlumnoId">Editar</a> |
                    <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.AlumnoId">Detalles</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AlumnoId">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
