@model GestionLaPiazzolla.Models.LaPiazzollaViewModels.CursoIndexData

@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cursos</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nuevo curso</a>
</p>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" asp-action="Index">Listado completo</a>
    <form class="form-inline" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search" name="cadenaBusqueda" value="@ViewData["FiltroActual"]">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>  

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortOrder"]">@Html.DisplayNameFor(model => model.Cursos.First().Nombre)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrecioMensualSortOrder"]">@Html.DisplayNameFor(model => model.Cursos.First().PrecioMensual)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescripcionSortOrder"]">@Html.DisplayNameFor(model => model.Cursos.First().Descripcion)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProfesorSortOrder"]">@Html.DisplayNameFor(model => model.Cursos.First().Profesor)</a>                
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cursos)
{
    string filaSeleccionada = "";
    if (item.CursoId == (int?)ViewData["CursoId"])
    {
        filaSeleccionada = "success";
    }
        <tr class="@filaSeleccionada">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Nombre) @Html.DisplayFor(modelItem => item.Profesor.Apellido)
            </td>
            <td>
                @{ 
                    foreach (var alumno in item.Alumnos_X_Cursos)
                    {
                        @alumno.Alumno.AlumnoId @:  @alumno.Alumno.Nombre <br />
                    }
                }
            </td>
            <td class="text-right">
                <a class="btn btn-outline-primary" asp-action="Index" asp-route-id="@item.CursoId">Seleccionar</a> |
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.CursoId">Editar</a> |
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.CursoId">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CursoId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
