@model IEnumerable<GestionLaPiazzolla.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pagos</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nuevo Pago <svg class="bi bi-credit-card" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd" />
    <rect width="3" height="3" x="2" y="9" rx="1" />
    <path d="M1 5h14v2H1z" />
</svg></a>
</p>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" asp-action="Index">Listado completo</a>
    <form class="form-inline" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search" name="cadenaBusqueda" value="@ViewData["FiltroActual"]">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AlumnoSortParametro"]">@Html.DisplayNameFor(model => model.Alumno)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MontoSortParametro"]">@Html.DisplayNameFor(model => model.Monto)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FechaSortParametro"]">@Html.DisplayNameFor(model => model.FechaPago)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ObservacionSortParametro"]">@Html.DisplayNameFor(model => model.Observacion)</a>                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre) @Html.DisplayFor(modelItem => item.Alumno.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td class="text-right">
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.PagoId">Editar</a> |
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.PagoId">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PagoId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
