@model IEnumerable<GestionLaPiazzolla.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pagos</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nuevo pago</a>
</p>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" asp-action="Index">Listado completo</a>
    <form class="form-inline" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search" name="cadenaBusqueda" value="@ViewData["FiltroActual"]">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AlumnoSortParametro"]">@Html.DisplayNameFor(model => model.Alumno)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MontoSortParametro"]">@Html.DisplayNameFor(model => model.Monto)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FechaSortParametro"]">@Html.DisplayNameFor(model => model.FechaPago)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ObservacionSortParametro"]">@Html.DisplayNameFor(model => model.Observacion)</a>                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre) @Html.DisplayFor(modelItem => item.Alumno.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td class="text-right">
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.PagoId">Editar</a> |
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.PagoId">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PagoId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
